<card class="card">
    <div class="card-body">
        <h5 class="card-title">
            <a id="type_{{ type }}_clone_{{ cloneIndex }}" href="#type_{{ type }}_clone_{{ cloneIndex }}">
                <span class="badge bg-secondary">Clone {{ cloneIndex }}</span>
            </a>
        </h5>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">File</th>
                <th scope="col">Lines</th>
                <th scope="col">Content</th>
            </tr>
            </thead>
            <tbody>
            {% for instanceIndex, method in clone.sourceClone.methods %}
                {{ include('clone_instance_row.html.twig', {type: type, cloneIndex: cloneIndex, instanceIndex: instanceIndex + 1, method: method}) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
</card>