<div class="tab-pane fade show{{ active ? ' active' : '' }}" id="nav-type-{{ type }}-clones" role="tabpanel"
     aria-labelledby="nav-type-{{ type }}-clones-tab">
    <h3>Detected {{ output|length }} clone{{ output|length != 1 ? 's' : '' }}</h3>
    {% for cloneIndex, sourceCloneMethodScoreMapping in output %}
        {{ include('clone_card.html.twig', {type: type, cloneIndex: cloneIndex, sourceCloneMethodScoreMapping: sourceCloneMethodScoreMapping, showScores: showScores}) }}
    {% endfor %}
</div>